@charset "UTF-8";

body {
	margin: auto;
	width: 800px;
	font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF8F0;
}

header {
    text-align: center;
    font-size: 5em;
    margin: 20px;
    margin-bottom: 30px;
    color: #392F5A;
    text-shadow: 3px 5px 0px #F4D06F;
    font-weight: bolder;
}

main {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #F4D06F;
    background-color: #392F5A;
    border-radius: 15px;
    padding: 10px;
}

textarea {
    resize: none;
}

#criptografia {
    display: inline-block;
    margin-right: 10px;
    padding: 20px;
    background-color: #F4D06F;
    color:#392F5A;
    border-radius: 30px;
}

#descriptografia {
    display: inline-block;
    background-color: #392F5A;
    color: #F4D06F;
    padding: 20px;
    border-radius: 30px;
}

.cd-btn {
    width: 150px;
}
